body {
  display: grid;
  grid-template-columns: 20% 40% 40%;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 150px;
}

.options > button {
  margin: 5%;
}

.image {
  height: 100px;
  width: 100px;
  border: 5px solid red;
  border-radius: 5px;
}

#reset {
  display: none;
}